// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Light

@font-face {
  font-family: 'lato-light';
  font-weight: 300;
  src: url('../fonts/lato-light/lato-light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato-light/lato-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-light/lato-light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-light/lato-light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/lato-light/lato-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-light/lato-light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// Bold
@font-face {
  font-family: 'lato-bold';
  font-weight: 700;
  src: url('../fonts/lato-bold/lato-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato-bold/lato-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-bold/lato-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-bold/lato-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/lato-bold/lato-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-bold/lato-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// Regular
@font-face {
  font-family: 'lato-regular';
  font-weight: 400;
  src: url('../fonts/lato-regular/lato-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-regular/lato-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-regular/lato-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/lato-regular/lato-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-regular/lato-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}