/**
 * Basic typography style for copy text
 */
body {
  color: $colortexto;
  font-family: $tipo-regular;
  font-size: 14px;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $tipo-light;
  color: $azultitulos;
}

h1 {
  font-size: 48px;
  line-height: 34px;
}
h2 {
  font-size: 40px;
  margin-bottom: 35px;
  line-height: 34px;
}
h3 {font-size: 25px;}
h4 {font-size: 20px;}
h5 {
  font-size: 15px;
  margin-bottom: 12px;
}



p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  
  a {
    color: inherit;
    font-weight: bold;
  }
}

strong {font-family: $tipo-bold;}