// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

a{
  @include transition(0.5s ease all);
  
  &:focus, &:active, &:active:focus {
    outline: none;
  }
  &:hover{
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.col, section {
  position: relative;
}

.parallax {
  background-attachment: fixed;
  background-size: cover;
  
  @media (max-width: 767px) {
    background-attachment: inherit
  }
  
}

.form-control {
  &:focus, &:active, &:active:focus {
    outline: none;
    box-shadow: none;
  }
}

.box-loader {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50000;
}

.box-loader .content {
  padding: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  @include transform (translate(-50% , -50%))
}

.dot1, .dot2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #395691;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  @include animation(0, 2s, bounce, infinite, ease)
}

.dot2 {
  -webkit-animation-delay: -1.0s;
  -moz-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@include keyframes(bounce){
  0% { opacity: 0 }

  to { opacity: 1}
}

@include keyframes(bounce) {
  0%, 100% { @include transform (scale(0)) }
  50% { @include transform (scale(1)); }
}

// Burger menu
.collapse.open {
  display: block;
}

@media (min-width: 991px){
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

//@media (min-width: 991px){
//  .menu-item-has-children{
//    .dropdown-menu {
//      @include transition(0.4s ease all);
//      opacity: 0;
//      display: block;
//    }
//    
//    &:hover>.dropdown-menu {
//      opacity: 1;
//    }
//  }
//}

.navbar-toggler {
  width: 26px;
  height: 19px;
  position: relative;
  display: block;
  z-index: 101;
  
  &:focus, &:active, &:active:focus {
    outline: 0;
  }
  
  span{
    width: 26px;
    height: 2px;
    left: 0;
    background-color: #000;
    position: absolute;
    top: 0;
    //@include transform-origin(left center);
    @include transition(0.5s ease all);
    
    &:nth-child(2){
      top: 8px;
    }
    
    &:nth-child(3){
      top: 16px;
    }
  }
  
  @media (max-width: 767px){
    &.open span {
      //background-color: #fff;

      &:nth-child(1){
        @include rotate(45);
        top: 8px;
        left: 0
      }
      &:nth-child(2){
        width: 0%;
        opacity: 0
      }

      &:nth-child(3){
        @include rotate(-45);
        top: 9px;
        left: 0
      }
    }
  }
  
}

// GENERICAS WORDPRESS CONTENT EDITOR
img {
  &.alignright { float: right; margin: 0 0 1em 1em; }
  &.alignleft { float: left; margin: 0 1em 1em 0; }
  &.aligncenter { display: block; margin-left: auto; margin-right: auto; }
}