//BOX CABECERA CON TITULO
.box-header {
  height: 280px;
  background-size: cover;
  background-position: top center;
  padding: 43px 0;
  
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #080f33;
    opacity: 0.4;
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
  }
  
  .row {
    min-height: 10.5rem;
  }
  
  h1 {
    font-size: 40px;
    color: #fff;
    z-index: 2;
    position: relative;
  }
}

.box-content {
  padding: 70px 0;
}

//BOX TIRA DE ICONOES
.box-icons {
  padding: 50px 0;
  background-color: $azulclaro;
  
  p {
    color: $azultexto;
  }
}

//BOX CLIENTES
.box-clientes {
  padding: 90px 0;
}

//BOX TESTIMONIOS
.box-testimonios {
  padding: 95px 0;
  background-color: $azulclaro;
  
  .col-test {
    border: 1px solid $gris;
    padding: 25px 20px;
    text-align: center;
    margin-bottom: 30px;
    
    img {
      width: 80px;
      margin: 0 auto 25px;
    }
    
    p{
      font-size: 16px;
      color: $azultitulos;
      font-style: italic;
      margin-bottom: 30px;
    }
    
    .autor {
      p {
        font-size: 14px;
        font-family: $tipo-bold;
        color: $azulmedio;
        font-style: normal;
        margin-bottom: 0;
        
        &:nth-child(2){
          color: $azulsubtitulos;
        }
      }
    }
  }
}

//PROYECTOS DESTACADOS
.box-proyectos {
  padding: 90px 0;
  
  .content p{
    font-size: 14px;
    color: $azulsubtitulos;
    margin-bottom: 24px;
  }
  
}

.col-project {
  position: relative;
  display: block;
  margin-bottom: 30px;
  
  &:hover{
    p {
      padding: 20px;
    }
  }
    
  p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 0;
    @include transition(ease all 0.5s);
  }
}

.row-buttons {
  padding: 80px 0;
}

.button {
  padding: 9px 40px;
  display: inline-block;
  border-radius: 2px;
  background-color: #fff;
  @include transition(ease all 0.5s);
  
  &--outline {
    border: 2px solid;
    
  }
  
  &--blue {
    border-color: $azulboton;
    color: $azulboton;
    
    &:hover{
      background-color: $azulboton;
      color: #fff;
    }
  }
}