//BOX CABECERA CON TITULO
.box-header {
  height: 280px;
  background-size: cover;
  background-position: top center;
  padding: 43px 0;
  
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #080f33;
    opacity: 0.4;
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
  }
  
  .row {
    min-height: 10.5rem;
  }
  
  h1 {
    font-size: 40px;
    color: #fff;
    z-index: 2;
    position: relative;
  }
}

.box-content {
  padding: 70px 0;
}

//BOX TIRA DE ICONOS
.box-icons {
  padding: 37px 0;
  background-color: $azulclaro;
  
  p {
    color: $azultexto;
  }
}

//BOX PARALLAX
.parallax{
  h2 {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 45px 100px;
    line-height: normal;
  }
}

//BOX CLIENTES
.box-clientes {
  padding: 90px 0;
}

//BOX TESTIMONIOS
.box-testimonios {
  padding: 95px 0;
  background-color: $azulclaro;
  
  .col-test {
    border: 1px solid $gris;
    padding: 25px 20px;
    text-align: center;
    margin-bottom: 30px;
    
    img {
      width: 80px;
      margin: 0 auto 25px;
    }
    
    p{
      font-size: 16px;
      color: $azultitulos;
      font-style: italic;
      margin-bottom: 30px;
    }
    
    .autor {
      p {
        font-size: 14px;
        font-family: $tipo-bold;
        color: $azulmedio;
        font-style: normal;
        margin-bottom: 0;
        
        &:nth-child(2){
          color: $azulsubtitulos;
        }
      }
    }
  }
}

//PROYECTOS DESTACADOS
.box-proyectos {
  padding: 90px 0;
  
  .content p{
    font-size: 14px;
    color: $azulsubtitulos;
    margin-bottom: 24px;
  }
  
}

.col-project {
  position: relative;
  display: block;
  margin-bottom: 30px;
  
  &:hover{
    p {
      padding: 20px;
    }
  }
    
  p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 0;
    @include transition(ease all 0.5s);
  }
  
  &--bg {
    min-height: 210px;
    background-size: cover;
    background-position: center;
    
    p {
      font-size: 20px;
    }
  }
  
  // Archive
  &.col-archive {
    border: 1px solid #eceef0;
    
    img {
      @include transition(0.5s ease all);
    }
    
    &:hover{
      img{
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
      }
    }
  }

}

.row-buttons {
  padding: 80px 0;
}

.button {
  padding: 9px 40px;
  display: inline-block;
  border-radius: 2px;
  background-color: transparent;
  @include transition(ease all 0.5s);
  
  &--outline {
    border: 2px solid;
    
  }
  
  &--blue {
    border-color: $azulboton;
    color: $azulboton;
    
    &:hover{
      background-color: $azulboton;
      color: #fff;
    }
  }
  
  &--blue--dark {
    border-color: $azultitulos;
    color: $azultitulos;
    
    &:hover{
      background-color: $azultitulos;
      color: #fff;
    }
  }
  
  &--white {
    border-color: #fff;
    color: #fff;
    
    &:hover{
      background-color: #fff;
      color: $azultitulos;
    }
  }
  
  &--filter {
    padding: 5px 22px;
    margin: 0 5px 20px;
    border-width: 1px;
    cursor: pointer;
    
    &.is-checked{
      background-color: $azulboton; 
      color: #fff;
    }
  }
  
  &:focus, &:active, &:focus:active {
    outline: none;
  }
}

//BLOQUE DOBLE
.box-doble {
  background-color: $azulclaro;
  
  .content {
    ul {
      list-style: none;
      padding: 0;

      li {
        img {
          display: inline-block;
          width: 29px;
          height: 29px;
          margin: 9px 30px 0px 0px;
        }
        p {
          display: inline-block;
        }
      }
    }

    p {
      color: #000;
//      font-size: 16px;
    }
  }
}



.img-border {
  padding: 6px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}

//BANNER {
.box-banner {
  background-color: $azulclaro;
}

.img-banner {
  padding: 6px;
  border: 1px solid #ebebeb;
}

//HOME
.home {
  
  .box-proyectos {
    background-color: $azulclaro;
    
    h2 {
      color: $azultitulos;
      font-size: 25px;
      margin-bottom: 50px;
    }
  }
  
  .box-clientes {
    background-color: #fff;
  }
  
  .row-buttons {padding: 30px 0 0;}
  
  .button {
    border-width: 1px;
    
    &--blue {
      border-color: $azultitulos;
      color: $azultitulos;
    
      &:hover{
        background-color: $azultitulos;
        color: #fff;
      }
    }
  }
  
  .content {
    p {
      font-size: 14px;
      color: $azultitulos;
      margin-bottom: 24px;
    }
  }
}

//CONTACTO
.box-contact {
  background-color: $azulclaro;
  
  .box-address {
    margin-bottom: 20px;
    
    &:nth-child(3) {
      margin-bottom: 40px;
    }
    
    h5{
      text-transform: uppercase;
      font-family: $tipo-bold;
      font-weight: bold;
      color: $azultitulos;
    } 

    h6, p, a{
      color: $grisclaro;
      font-family: $tipo-bold;
      font-weight: bold;
      font-size: 14px;
    }

    p, a {
      font-family: $tipo-regular;
      font-weight: 400;
    }
    
    a {
      color: $azulsubtitulos;
    }
  
  }
  
  .box-banner {
    position: relative;
    
    .banner-info {
      width: 100%;
      text-align: center;
      position: absolute;
      padding: 20px;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      
      h3{
        margin-bottom: 20px;
        color: #fff;
      }
      
      a {
        text-transform: uppercase;
        font-size: 12px;
        padding: 5px 7px;
      }
    }
  }
  

}

form.wpcf7-form {
  input, textarea {
    width: 100%;
    display: block;
    border: 1px solid #c5d7f3;
    background-color: #fbfbfc;
    border-radius: 3px;
    color: $azulsubtitulos;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px 11px 20px;
    resize: none;
    margin-bottom: 20px;
  }
  
  .button-box {
    float: left;
  }
  
  input[type="submit"] {
    width: auto;
    font-size: 15px;
    text-transform: uppercase;
    @extend .button;
    @extend .button--blue;
    cursor: pointer;
  }
  
  .privacy-policy {
    color: #769ad0;
    font-size: 13px;
    font-style: italic;
    max-width: 175px;
    width: 100%;
    line-height: 17px;
    float: left;
    
    a {
      color: #769ad0;
      font-size: 13px;
      font-style: italic;
      text-decoration: underline;
    }
    
  }
}

#map {
  height: 400px;
}

//LISTADO PROYECTOS
.box-proyectos {
  background-color: $azulclaro;
  padding: 30px 0;
}

.category-list {
  margin-bottom: 20px;
}
  


.box-relacionado {
  background-color: #fff;
}

// Single proyecto
.box-info-post {
  background-color: $azulclaro;
}

.single-content {
  &--proyecto {
    .box-header {
      height: 170px;
      background-image: url('../img/background-project.jpg');
    }
    
    .info-post {
      h1 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 35px;
      }
      
      .content {
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        padding: 20px 0;
      }
    }
    
    .box-cta{
      margin: 90px 0 60px;
      display: block;
    }
  }
  
  &--productos {
    
    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;
    }
    .row-buttons {
      padding: 20px 0 40px;
      
      .button {
        border-width: 1px;
        padding: 14px 60px;
        
        img {
          width: 20px;
          margin-left: 10px;
        }
        
        &:hover{
          background-color: transparent;
          color: $azulboton;
        }
      }
    }
  }
  
}

// Slider con miniaturas
.thumbslider{
  width:100%;
  
  .lSSlideOuter {
    ul {
      list-style: none outside none;
      padding-left: 0;
      margin-bottom:0;

      li {
        display: block;
        float: left;
        margin-right: 6px;
        cursor:pointer;

        img {
          display: block;
          height: auto;
          max-width: 100%;
          @include transition(0.5s ease all);
        }
      }
      

      
    }
    
    .lSPager.lSGallery {
      li.active {
        border-radius: 0 !important;
        overflow: hidden;

        img {
          @include transform(scale(1.2));
        }
      }
      
      li:hover {
        border-radius: 0 !important;
      }
    }
    
    .lSPrev, .lSNext{
      background-color: #99978e;
      background-image: url(../img/icons/arrow-left.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 8px;
      width: 40px;
      height: 40px;
      opacity: 1;
    }
    
    .lSNext{
      background-image: url(../img/icons/arrow-right.svg);
    }  
  }

}

// Paginación proyectos
.col-paginacion:after {
  border-bottom: 1px solid #dcdcdc;
  margin-top: 20px;
  margin-bottom: 50px;
  content: "";
  width: 100%;
  height: 1px;
  display: block;
}

.col-paginacion {
  
  .all-projects {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    float: left;
    border-radius: 3px;
    border: 1px solid;
    color: $azulsubtitulos;

    span {
      position: absolute;
      border-left: 6px solid;
      border-right: 6px solid;
      height: 6px;
      width: 17px;
      left: 11px;
      top: 11px;

      &:last-of-type{
        top: 22px;
      }
    }

    &:hover {
      color: $azultexto
    }
  }
  
  .button {
    border-width: 1px;
    text-transform: uppercase;
    padding: 7px 17px;
    
    &.next-link:after,  &.prev-link:before {
      content: "";
      position: relative;
      display: block;
      border: solid ;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
    
    &.next-link{
      &:after{
        margin-left: 10px;
        @include transform(rotate(-45deg));
      }
    }
    
    &.prev-link{
      &:before{
        margin-right: 10px;
        @include transform(rotate(135deg));
      }
    }
  }
}

// Paginacion numerica
.post-navigation {
  
  border-top: 1px solid #dcdcdc;
  margin-top: 40px;
  padding-top: 30px;
  
  ul {
    padding: 0;
    
    li {
      list-style: none;
      display: inline-block;
      
      a {
        border: 1px solid #d2d2d2;
        background-color: #fff;
        color: $azulsubtitulos;
        font-size: 15px;
        margin: 2px 4px 2px 0;
        min-width: 30px;
        padding: 2px 10px;
        display: inline-block;
        border-radius: 5px;
      }
      
      &.active {
        a {
          background-color: $azultitulos;
          border-color: $azultitulos;
          color: #fff;
        }
      }
    }
  }
}

//ARCHIVE 
.page-product {
  .box-header {
    background-image: url('../img/background-product.jpg');
    
    h1 {
      font-size: 40px;
      line-height: 34px;
      margin-bottom: 10px;
    }
  }
  
  .content {
    margin: 30px 0;
    padding: 40px 0;
    border-top: 1px solid $azultop;
  }
}

.sidebar-taxonomy {
  
  margin-bottom: 50px;
    
  h4 {
    text-transform: uppercase;
    color: $azulboton;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .panel {
    
    border-top: 1px solid $azultop;
        
    .panel-header {
      position: relative;
      
      .btn-link {
        color: $azultitulos;
        padding: 11px 0 9px;
        margin-bottom: 10px;
        font-size: 14px;
      }
      
      &:after{
        content: "";
        position: absolute;
        right: 10px;
        top: 44%;
        border: solid $azultitulos;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
        @include transform(rotate(45deg));
      }
      
    }
    
    .panel-body {
      a, .btn-link {
        display: block;
        color: $azultitulos;
        font-family: $tipo-bold;
        padding: 10px 0;
        border-top: 1px solid $azultop;
      }
      
      .btn-link {
        border: none;
        font-size: 14px;
      }
      
      .panel-body {
        a {
          color: $azulsubtitulos;
        }
      }
    }
  }
}