.smooth-scroll {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  opacity: 0;
  z-index: 10;
  @include transition(0.5s ease all);
  
  &.visible {
    opacity: 1;
  }
}

.box-content.box-newsletter {
  background: linear-gradient(to right, rgba(106,159,238,1) 0%, rgba(32,93,185,1) 100%);
  padding: 40px 0 30px;
  
  h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 35px;
  }
  
  form.wpcf7-form {
  
    input{
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      height: 45px;
      width: 100%;
      margin-bottom: 0;
      
      @media (max-width: 991px){
        margin-bottom: 20px;;
      }
    }
    
    @include placeholder('input', #fff);    

    input[type="submit"] {
      background-color: #fff;
      color: $azultexto !important;
      border: 2px solid #fff !important;
      width: 100%;
      font-size: 14px;
      text-transform: capitalize;
      max-width: 180px;
      margin: 0 auto;

      &:hover {
        background-color: rgba(255,255,255,0.6) !important;
      }
    }
    
    span {
      color: #fff;
    }
    
    .wpcf7-response-output {
      color: #fff; 
      border-color: #fff;
    }
  }
  
  p {
    color: $azultitulos;
  }
}

.footer {
  padding: 50px 0 0;
  background: linear-gradient(to right, rgba(57,86,145,1) 0%, rgba(20,54,118,1) 100%);
  color: $azulboton;
  
  .info-footer{
    a {
      color: $azulboton;
    }

    .footer-logo{
      img {
        margin: 0 20px 30px 0;
      }
    }
    
    @media (max-width: 991px){
      margin-bottom: 40px;
      text-align: center;
    }
  }
  

  
  .menu-footer{
    ul {
      padding: 0;
      li {
        list-style: none;
        
        &:nth-child(1){
          a {
            text-transform: uppercase;
            color: $azulboton;
            line-height: 36px;
            padding: 0;
          }
        }
        
        a {
          color: #fff;
          padding: 4px 0;
        }
      }
    }
  }
  
  .social-box {
    margin-bottom: 25px;
    a {
      font-size: 25px;
      margin: 0 10px 10px;
    }
  }
  
  .row-legales {
    .content {
      border-top: 1px solid $azulboton;
      margin-top: 25px;
      padding: 15px 0 10px;
      
      p, a {
        display: inline-block;
        color: $azulboton;
      }
      
      a {
        text-decoration: underline;
        margin: 0 3px 5px;
      }
    }
  }
  
  @media (max-width: 991px){
    text-align: center;
  }
}