.top-header {
  background-color: $azultop;
  height: 25px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  
  a {
    font-size: 12px;
    padding: 0 5px;
    color: $azultextotop;
    font-family: $tipo-bold;
  }
  
  .link-tel {
    color: $azultitulos;
  }
  
  .social-box {
    display: inline-block;
    margin-right: 15px;
    
    a {
      font-size: 15px;
      
      i {
        color: $azultextotop;
        @include transition(0.5s ease all);
        
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .lang-switch {
    display: inline-block;
    
    a {
      position: relative;
      margin: 0;
      
      &:before {
        content: "";
        width: 1px;
        height: 12px;
        background-color: green;
        display: inline-block;
        position: absolute;
        left: -2px;
        top: 2px;
      }
      
      &:nth-child(1):before{display: none}
    }
  }
  
  @media (max-width: 991px){
    display: none;
  }
  
}

header {
  background-color: rgba(5, 10, 36, 0.2);
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 6;
  @include transition(margin .6s ease);

  
  .content-logo {
    width: 220px;
    height: 120px;
    background-color: #fff;
    position: absolute;
    z-index: 7;
    left: 50%;
    top: -25px;
    @include transform(translate(-50%));
    
    .logo {
      position: relative;
      width: 100%;
      max-width: 180px;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      @include transition(0.6s ease all);
    }
  }
  
  &.sticky-header {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    
    .content-logo {
      top: 0;
      height: 71px;
      background-color: transparent;
            
      .logo {
        max-width: 105px;
      }
    }
    
    .navbar {
      .nav-link {
        color: $azultitulos;
      }
      
      .dropdown-toggle {
        &:after {
          border-color: $azultitulos;
        }
      }
    }
  }
  
  @media (max-width: 991px){
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    
    .content-logo{
      position: relative;
      left: 0;
      top: 0;
      height: auto;
      @include transform(translate(0));
      
      .logo {
        display: block;
        max-width: 120px;
        padding: 14px 15px;
        top: initial;
        left: initial;
        @include transform(translate(0));
      }
    }
    
    #navbarResponsive {
      display: block;
      position: fixed;
      width: 270px;
      height: 100%;
      background-color: #fff;
      right: -270px;
      right: 0;
      top: 0;
      bottom: 0;
      @include transition(transform .6s ease);
      @include transform(translateX(100%));

      &.open{
        transform: translateX(0%);
      }
      
      .navbar {
        display: block;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        
        .menu-item {
          border-bottom: 2px solid #e0e0e0;
          
          &.active {
           .nav-link {
              color: #fff;
              background-color: $azultitulos;
             
               &.dropdown-toggle::after {
                border-color: #fff;
              }
            }
          }
          
          .nav-link {
            color: $azultitulos;
            text-align: left;
            text-transform: uppercase;
            padding: 12px 20px;
            margin: 0;
            
            &.dropdown-toggle::after {
              border-color: $azultitulos; 
              right: 20px;
              top: 20px;
            }
            
          }
          
          .dropdown-menu {
            position: relative;
            float: none;
            background: #fff;
            padding: 0;
            max-height: 0;
            display: block;
            overflow: hidden;
            @include transition(0.6s ease all);
            border: 0;
            
            &.show {
              max-height: 500px;
              border-top: 3px solid #b8d1f5;
            }
            
            .dropdown-item {
              color: $azultitulos;
              text-transform: uppercase;
              padding: 12px 20px;
            }
          }
        }
      }

    }

  }
  
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  
  .nav-link {
    color: #fff;
    padding: 8px 25px;
    margin: 15px 0;
    position: relative;
    
    @media (max-width: 1100px){
      padding: 8px 20px;
    }
  }
  
  .dropdown-toggle {
    &:after {
      position: absolute;
      right: 7px;
      top: 15px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      vertical-align: middle;
      @include transform(rotate(45deg));
    }
  }
  
  .dropdown-menu {
    border: 0;
    border-top: 3px solid $azultop;
    margin-top: -0.5px;
    border-radius: 0;
    background-color: rgba(5, 10, 36, 0.6);
    
    .dropdown-item {
      color: #fff;
      font-size: 14px;
      padding: 4px 14px;
      
      &:hover{
        color: $azulboton;
        background-color: transparent;
      }
    }
    
  }
}