.top-header {
  background-color: $azultop;
  height: 25px;
  
  a {
    font-size: 12px;
    padding: 0 5px;
    color: $azultextotop;
    font-family: $tipo-bold;
  }
  
  .link-tel {
    color: $azultitulos;
  }
}

header {
  background-color: rgba(5, 10, 36, 0.2);
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 6;
  
  .content-logo {
    position: absolute;
    z-index: 7;
    left: 50%;
    top: -25px;
    @include transform(translate(-50%));
    
    img {
      @include transition(0.6s ease all);
    }
    
    .logo {
      
    }
    
    .logo__scroll, .logo__movil {
      display: none;
    }
  }
  
  &.sticky-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);

    .logo__scroll {
      display: block;
    }
    
    .logo, .logo__movil {
      display: none;
    }
    
    .content-logo {
      top: 10px;
    }
    
    .navbar {
      .nav-link {
        color: $azultitulos;
      }
      
      .dropdown-toggle {
        &:after {
          border-color: $azultitulos;
        }
      }
    }
  }
  
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  
  .nav-link {
    color: #fff;
    padding: 8px 25px;
    margin: 15px 0;
  }
  
  .dropdown-toggle {
    &:after {
      position: absolute;
      right: 10px;
      top: 44%;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      vertical-align: middle;
      @include transform(rotate(45deg));
    }
  }
  
  .dropdown-menu {
    border: 0;
    border-top: 3px solid $azultop;
    margin-top: -0.5px;
    border-radius: 0;
    background-color: rgba(5, 10, 36, 0.2);
    
    .dropdown-item {
      color: #fff;
      font-size: 14px;
      padding: 4px 14px;
      
      &:hover{
        color: $azulboton;
        background-color: transparent;
      }
    }
    
  }
}